@font-face {
    font-family: robotoLight;
    src: url(fonts/Roboto-Light.ttf);
    font-family: cominfB;
    src: url(fonts/CormorantInfant-Bold.ttf);
}
body { 
    margin: 0;
    background-image: url(images/overlay.png), url(images/group_John.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    background-color: rgba(0,0,0,0.9);
    padding: 5px;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
}
#header #logo {
    max-width: 50%;
    margin: 2% 0 1% 25%;
    height: auto;
    width: auto/2;
    float: left;
    transition: 0.4s;
}
#headerNav {
    width: 100%;
    text-align: center;
    margin: 21% 0 0 0; /* changing */
    padding: 0;
    display: inherit;
}
#headUL {
    margin: 0 auto 2% auto; /* changing */
    float: none;
    padding: 0;
    transition: 0.4s;
    width: 80%;
}
.navLinks {
    list-style-type: none;
    display: inline;
    color: white;
    font-family: cominfB;
    font-size: 1.5vw; /* changing */
    text-decoration: none;
    margin: 1% 1.5%;
    padding: 0;
    transition: 0.1s;
}
.navLinks a {
    color: white;
}
.navLinks a:hover {
    color: #70bf44;
}
a {
    text-decoration: none;
    color: #70bf44;
    transition: 0.2s;
}
a:hover {
    color: #faaa69;
}
#navPics {
    text-align: center;
    display: inherit;
    margin-top: 10px;
}
#navPics img {
    width: 2.3%;
    height: auto;
    margin: 10px;
}
#fillerImage {
    margin-top: 28vw;
    margin-bottom: 0;
    padding: 15px 0 0 0;
}
#fillerImage img {
    background-color: green;
    width: 100%;
    height: auto;
    margin: 0 0 -8px;
    padding: 0;
}
#about {
    background-color: rgba(0,98,66,0.95);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    
}
h1, h2, h3, h4 {
    font-family: cominfB;
}
#current h2 {
    font-size: 2.9vw;
}
#cpyrght h4 {
    color: white;
    margin: 0 auto;
    padding: 25px 0;
    width: 95%;
}
p {
    font-size: min(140%, 2vw);
}
h1 {
    font-size: min(6vw, 400%);
    margin: 0 auto;
    padding: 5vh 0 2vh;
    width: 100%;
    text-align: center;
    color: white;
}
#about p {
    margin: 0 auto;
    padding: 0 0 50px;
    width: 67%;
    line-height: 1.5em;
    color: white;
    font-family: robotoLight;
}

.testimonials {
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}
.testimonials h3 {
    color: white;
    font-size: min(2.2vw, 140%);
    margin: 0;
    padding: 50px 0;
}
#artists {
    background-color: rgba(52,68,134,0.95);
    height: auto;
    padding-bottom: 20px;
    text-align: center;
}

.smallPics {
    display: inline-block;
    margin: 0 0.6vw;
    padding: 0;
    width: 12%;
    height: 30%;
}
.smallPics h4 {
    font-size: 1.5vw;
}
.smallPics img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.name {
    color: #70BE44;
    margin: 0;
}

.instrumentName {
    margin: 0;
    color: white;
}

#summer {
    background-color: rgba(0, 118, 163, 0.95);
    height: auto;
    padding-bottom: 20px;
}

#summer h3 {
    width: 80%;
    text-align: left;
    color: white;
    font-size: min(1.9vw, 20px);
    margin: 0 auto;
    padding: 0;
}

.shows {
    width: min(85%, 75vh);
    background-color: rgba(255,255,255,0.1);
    height: auto;
    padding-bottom: 5px;
    margin: 20px auto;
}
.shows p {
    font-size: min(auto, 1.5vw);
    margin-bottom: 9px;
}
.shows h4 {
    margin: 0;
    padding: 0px;
    white-space: nowrap;
    font-size: min(1.6vw, auto);
}
.shows img {
    min-height: 120px;
    height: 100%;
    width: min(150px, 10vh);
    float: left;
    margin: 0px 2vw 0 0;
}
.shows h2 {
    margin: 0;
    white-space: nowrap;
    font-size: min(2.4vw, auto);
    padding: 14px 0 0 0;
}

#fillerImage2 {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    height: 25vw;
}
#fillerImage2 img {
    width: inherit;
    height: inherit;
}

#season {
    background-color: rgba(111,32,195,0.95);
    height: auto;
    padding-bottom: 20px;
}
#season h3 {
    width: 80%;
    text-align: left;
    color: white;
    font-size: min(1.9vw, 20px);
    margin: 0 auto;
    padding: 0;
}
#season a {
    color: #70bf44;
}
#season a:hover {
    color: #faaa69;
}
#summer a {
    color: #70bf44;
}
#summer a:hover {
    color: #faaa69;
}

#recordings {
    background-color: rgba(0,98,66,0.95);
    text-align: center;
    height: auto;
    padding-bottom: 20px;
}
#recordings h4 {
    width: 90%;
    margin: 0 auto;
}
.prevconc {
    margin: 0 20px;
}
#recordings div {
    width: 300px;
    height: 370px;
    display: inline-block;
    margin: 0 50px;
    padding: 0;
}
#recordings div img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#donors {
    background-color: rgba(120,120,120,0.9);
    text-align: center;
    height: auto;
    padding-bottom: 20px;
}

.row {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#donate {
    background-color: rgba(0,98,66,0.95);
    height: auto;
    padding-bottom: 20px;
}
#donate p {
    width: 70%;
    color: white;
    line-height: 1.3em;
    margin: 1.5% auto;
}
#donateButton {
    background-color: rgba(105,105,0,0.6);
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: max(10%, 20vw);
    transition: 0.2s;
    font-size: 150%;
    color: #70bf44;
}
#donateButton:hover {
    color: #faaa69;
}

#contact {
    background-color: rgba(0,0,0,0.95);
    width: 100%;
    height: auto;
    padding-bottom: 80px;
}
form {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
input[type=text], select, textarea {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
    height: 25px;
    
}
input[type=submit] {
    background-color: #70bf44;
    color: #000;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    width: 25%;
    font-size: 20px;
    transition: 0.3s;
    float: right;
}
input[type=submit]:hover {
    background-color: #faaa69;
}
#navPics2 img {
    width: 2.3%;
    margin: 0 1.5%;
    height: auto;
}

#cpyrght {
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    padding-top: 30px;
}

button {
    border: none;
    width: 40%;
    height: 8%;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #70bf44;
    transition: 0.2s;
}
button:hover {
    background-color: #faaa69;
    cursor: pointer;
}

#bigdonors img {
    width: 15%;
}

#namelist h4 {
    font-size: 200%;
    margin: 0;
    padding: 0;
}
#namelist p {
    font-size: 100%;
}

#namelist {
    -webkit-columns: 5 200px;
    -moz-columns: 5 200px;
    columns: 5 200px;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
    -webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
    column-rule: 1px dotted #ddd;
    padding: 0 20px;
    text-align: left;
}

#current {
    text-align: center;
    color: white;
    background-color: rgba(111,32,195, 0.95);
    height: auto;
    padding-bottom: 20px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #70bf44;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    width: 50px;
    padding: 0 0 0 10px;
    border: none;
}
.openbtn:hover {
    background-color: #70bf44;
}
